/* TODO: Need to refactor all these with tailwind css */

.profile-detail-option {
  color: #666b6e;
  width: 100%;
  height: 30px;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
}

.profile-detail-option:hover {
  background-color: #f4f9fc;
  border-radius: 8px;
}

.profile-detail-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0px 2px 0px;
}

.bs-dot-icon {
  color: green;
  font-size: 25px;
}

.profile-details-unordered-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 150px;
}

.profile-details-unordered-list .active {
  background-color: #f4f9fc;
}

.horizontal-line-class-name {
  border-top: 1px solid grey;
  margin-top: 2px;
  margin-bottom: 2px;
}

.profile-detail-option-text {
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}
